<ddaplib-searchable-header [isSearchPage]="true"
                           [searchInputVisible]="true"
                           label="Search Results">
  <ddap-beacon-search-bar [limitSearch]="limitSearch">
  </ddap-beacon-search-bar>
</ddaplib-searchable-header>

<ddaplib-main>
  <ddap-beacon-limit-search *ngIf="collectionName$ | async as collectionName"
                            (change)="limitSearchChange($event)"
                            [checked]="limitSearch"
                            [collectionName]="collectionName">
  </ddap-beacon-limit-search>

  <div *ngIf="!queryResultsSubscription.closed"
       class="ddap-center">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="queryResultsSubscription.closed && !results?.length"
       class="ddap-center">
    <h3>No results</h3>
    <p>
      <b>Tip:</b> Try searching for a BRCA2 variant:
      <a [routerLink]="['./']"
         [queryParams]="{ query: '13 : 32936732 G > C', assembly: 'GRCh37' }"
         data-se="brca2-link">
        13 : 32936732 G > C
      </a>
    </p>
  </div>

  <ng-template [ngIf]="results?.length">
    <a *ngIf="resourceAuthUrl && requireAuth"
       [href]="resourceAuthUrl"
       data-se="btn-authorize">
      <button mat-flat-button
              color="primary"
              class="uppercase">
        Authorize for all
      </button>
    </a>

    <ddap-beacon-result *ngFor="let beaconResult of results"
                        [beacon]="beaconResult">
    </ddap-beacon-result>
  </ng-template>
</ddaplib-main>
