<form *ngIf="form"
      [formGroup]="form"
      novalidate
      class="flex vertical-center">
  <mat-form-field class="beacon-info"
                  appearance="outline">
    <mat-label>Beacon</mat-label>
    <!-- [disabled] will trigger warning in console, but having the control set to disabled via FormControl
         won't trigger initial value change   -->
    <mat-select [disabled]="beacons.length < 2"
                formControlName="beacon">
      <mat-option *ngFor="let beacon of beacons"
                  [value]="beacon">
        {{ beacon.beaconInfo.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Dataset</mat-label>
    <!-- [disabled] will trigger warning in console, but having the control set to disabled via FormControl
         won't trigger initial value change   -->
    <mat-select [disabled]="selectedBeaconDatasets.length < 2"
                formControlName="datasets"
                multiple>
      <mat-option *ngFor="let dataset of selectedBeaconDatasets"
                  [value]="dataset.id">
        {{ dataset.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
