@import '~ddap-common-lib/styles/modules/colors';

.mat-form-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  mat-icon {
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 480px) {
  .beacon-info {
    margin-right: 1.5rem;
  }

  .mat-form-field {
    width: 19rem;
  }

  .mat-form-field:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.error-message {
  font-size: 0.9rem;
  color: $failure-color;
}
