
<div class="full-hw" style="display:flex; flex-direction:column;">
    <ddaplib-header icon="navigation" label="Molecules">
        <span>{{selectedMolecule ? selectedMolecule.name : ''}} {{selectedSubMolecule ? '» ' + selectedSubMolecule.name : ''}}</span>
        <span class="fill-space"></span>
        <button class="m-r-sm" tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = !view.showLeftSidebar" matTooltip="{{view.showLeftSidebar ? 'Hide' : 'Show'}} Proteins" color="{{view.showLeftSidebar ? 'accent' : ''}}">
            <mat-icon>gesture</mat-icon>
        </button>
        <button tabindex="-1" mat-icon-button (click)="view.showRightSidebar = !view.showRightSidebar" matTooltip="{{view.showRightSidebar ? 'Hide' : 'Show'}} Settings" color="{{view.showRightSidebar ? 'accent' : ''}}">
            <mat-icon>tune</mat-icon>
        </button>
    </ddaplib-header>
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <ddaplib-cover-message style="flex-grow: 1" *ngIf="molecules.length == 0" message="No Molecules"
        icon="not_interested"></ddaplib-cover-message>
    <div style="display:flex; flex: 1" *ngIf="molecules.length > 0">
        <mat-drawer-container style="flex:1" [autosize]="true" hasBackdrop="false">
            <mat-drawer (openedChange)="resizeStage()" mode="side" [(opened)]="view.showLeftSidebar" style="min-width:400px; max-width:400px; display:flex; flex-direction: column; overflow:hidden;">
                <mat-toolbar class="tertiary-toolbar">
                    <mat-toolbar-row>
                        <div>Proteins</div>
                        <span class="fill-space"></span>
                        <button tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = false;" matTooltip="Close Structures">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div style="flex: 1; overflow-y: auto;">
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                          <!-- use a disabled button to provide padding for tree leaf -->
                          <button mat-icon-button disabled></button>
                          <button [disabled]="!node.molecule.pdbid" class="mat-menu-item {{node.molecule == selectedMolecule ? 'active' : ''}}" mat-menu-item (click)="selectMolecule(node.molecule)">{{node.name}}</button>
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                          <button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          <button [disabled]="!node.molecule.pdbid" class="mat-menu-item {{node.molecule == selectedMolecule ? 'active' : ''}}" mat-menu-item (click)="selectMolecule(node.molecule)">{{node.name}}</button>
                        </mat-tree-node>
                      </mat-tree>
                </div>
            </mat-drawer>
            <mat-drawer-content style="display:flex; flex: 1">
                <mat-drawer-container style="flex:1" [autosize]="true" hasBackdrop="false">
                    <mat-drawer (openedChange)="resizeStage()" mode="side" position="end" [(opened)]="view.showRightSidebar" style="min-width:400px; max-width:400px; display:flex; flex-direction: column; overflow:hidden;">
                        <mat-toolbar class="tertiary-toolbar">
                            <mat-toolbar-row>
                                <div>Settings</div>
                                <span class="fill-space"></span>
                                <button tabindex="-1" mat-icon-button (click)="view.showRightSidebar = false;" matTooltip="Close Settings">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <div class="p-a">
                            <div style="display: flex; flex-direction: column;">
                                <div class="h3 m-b-sm">Representation</div>
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Representation</mat-label>
                                    <mat-select [(ngModel)]="selectedRepresentation" (selectionChange)="onRepresentationSelectionChanged($event)">
                                      <mat-option *ngFor="let representation of nglRepresentations | keyvalue" [value]="representation.key">
                                        {{prettyRepresentation(nglRepresentations[representation.key].name)}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                <div class="h3 m-b-sm">Environment</div>
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Background</mat-label>
                                    <input tabindex="-1"  matInput autocomplete="off" [(colorPicker)]="view.viewer.background" cpAlphaChannel="disabled" [style.background]="view.viewer.background" cpPosition="bottom" (colorPickerChange)="applyParameters()"/>
                                </mat-form-field>
                                <div class="h3 m-b-sm">Camera</div>
                                <button tabindex="-1" mat-stroked-button (click)="autoView()">
                                    <mat-icon>all_out</mat-icon> Fit
                                </button>
                                <!--mat-slider [(ngModel)]="view.viewer.fov" (change)="applyParameters()" min="15" max="120" step="1" value="120"></mat-slider>
                                <mat-button-toggle-group [(ngModel)]="view.viewer.cameraType" (change)="applyParameters()">
                                    <mat-button-toggle value="persepective">Persepective</mat-button-toggle>
                                    <mat-button-toggle value="orthographic">Orthographic</mat-button-toggle>
                                  </mat-button-toggle-group>-->
                            </div>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content class="full-hw" [style.background-color]="view.viewer.background">
                        <ddaplib-cover-message style="flex-grow: 1;" *ngIf="!this.selectedMolecule" message="No Molecule Selected" icon="not_interested"></ddaplib-cover-message>
                        <div #nglViewer [hidden]="!this.selectedMolecule" id="ngl-viewer" class="full-hw"></div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
