
<div class="full-hw" style="display:flex; flex-direction:column;">
    <ddaplib-header icon="navigation" label="Molecules">
        <span class="fill-space"></span>
        <button class="m-r-sm" tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = !view.showLeftSidebar" matTooltip="{{view.showLeftSidebar ? 'Hide' : 'Show'}} Proteins" color="{{view.showLeftSidebar ? 'accent' : ''}}">
            <mat-icon>gesture</mat-icon>
        </button>
        <button tabindex="-1" mat-icon-button (click)="view.showRightSidebar = !view.showRightSidebar" matTooltip="{{view.showRightSidebar ? 'Hide' : 'Show'}} Settings" color="{{view.showRightSidebar ? 'accent' : ''}}">
            <mat-icon>tune</mat-icon>
        </button>
    </ddaplib-header>
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <ddaplib-cover-message style="flex-grow: 1" *ngIf="molecules.length == 0" message="No Molecules"
        icon="not_interested"></ddaplib-cover-message>
    <div style="display:flex; flex: 1" *ngIf="molecules.length > 0">
        <mat-drawer-container style="flex:1" [autosize]="true" hasBackdrop="false">
            <mat-drawer (openedChange)="resizeStage()" mode="side" [(opened)]="view.showLeftSidebar" style="min-width:400px; max-width:400px; display:flex; flex-direction: column; overflow:hidden;">
                <mat-toolbar class="tertiary-toolbar">
                    <mat-toolbar-row>
                        <div>Proteins</div>
                        <span class="fill-space"></span>
                        <button tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = false;" matTooltip="Close Structures">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div style="flex: 1; overflow-y: auto;">
                    <button class="mat-menu-item {{molecule == selectedMolecule ? 'active' : ''}}" *ngFor="let molecule of molecules; index as j;" mat-menu-item (click)="selectMolecule(molecule)">{{molecule.name}}</button>
                </div>
            </mat-drawer>
            <mat-drawer-content style="display:flex; flex: 1">
                <mat-drawer-container style="flex:1" [autosize]="true" hasBackdrop="false">
                    <mat-drawer (openedChange)="resizeStage()" mode="side" position="end" [(opened)]="view.showRightSidebar" style="min-width:400px; max-width:400px; display:flex; flex-direction: column; overflow:hidden;">
                        <mat-toolbar class="tertiary-toolbar">
                            <mat-toolbar-row>
                                <div>Settings</div>
                                <span class="fill-space"></span>
                                <button tabindex="-1" mat-icon-button (click)="view.showRightSidebar = false;" matTooltip="Close Settings">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <div class="p-a">
                            <div *ngIf="selectedMolecule && selectedMolecule.parts">
                                <div class="h3 m-b-sm">Parts</div>
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Sub-Molecule</mat-label>
                                    <mat-select [(ngModel)]="selectedSubMolecule" (selectionChange)="selectSubMolecule(selectedSubMolecule)">
                                        <mat-option *ngFor="let molecule of selectedMolecule.parts" [value]="molecule">
                                            {{molecule.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-direction: column;">
                                <div class="h3 m-b-sm">Parameters</div>
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Background</mat-label>
                                    <input tabindex="-1"  matInput autocomplete="off" [(colorPicker)]="view.viewer.background" cpAlphaChannel="disabled" [style.background]="view.viewer.background" cpPosition="bottom" (colorPickerChange)="applyParameters()"/>
                                </mat-form-field>
                                <button tabindex="-1" mat-stroked-button (click)="autoView()">
                                    <mat-icon>all_out</mat-icon> Fit
                                </button>
                                <!--mat-slider [(ngModel)]="view.viewer.fov" (change)="applyParameters()" min="15" max="120" step="1" value="120"></mat-slider>
                                <mat-button-toggle-group [(ngModel)]="view.viewer.cameraType" (change)="applyParameters()">
                                    <mat-button-toggle value="persepective">Persepective</mat-button-toggle>
                                    <mat-button-toggle value="orthographic">Orthographic</mat-button-toggle>
                                  </mat-button-toggle-group>-->
                            </div>
                        </div>
                    </mat-drawer>
                    <mat-drawer-content class="full-hw" [style.background-color]="view.viewer.background">
                        <ddaplib-cover-message style="flex-grow: 1;" *ngIf="!this.getMoleculeToRender()" message="No Molecule Selected" icon="not_interested"></ddaplib-cover-message>
                        <div #nglViewer [hidden]="!this.getMoleculeToRender()" id="ngl-viewer" class="full-hw"></div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
