
<div class="full-hw" style="display:flex; flex-direction:column;">
    <ddaplib-header icon="navigation" label="Molecules">
        <span class="fill-space"></span>
        <button tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = !view.showLeftSidebar" matTooltip="{{view.showLeftSidebar ? 'Hide' : 'Show'}} Structures">
            <mat-icon>gesture</mat-icon>
        </button>
        <button tabindex="-1" mat-icon-button (click)="view.showRightSidebar = !view.showRightSidebar" matTooltip="{{view.showRightSidebar ? 'Hide' : 'Show'}} Configuration">
            <mat-icon>tune</mat-icon>
        </button>
    </ddaplib-header>
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <ddaplib-cover-message style="flex-grow: 1" *ngIf="molecules.length == 0" message="No Molecules"
        icon="not_interested"></ddaplib-cover-message>
    <div style="display:flex; flex: 1" *ngIf="molecules.length > 0">
        <mat-drawer-container class="full-hw" [autosize]="true">
            <mat-drawer mode="side" [(opened)]="view.showLeftSidebar" style="min-width:400px; max-width:400px; display:flex; flex-direction: column; overflow:hidden;">
                <mat-toolbar class="tertiary-toolbar">
                    <mat-toolbar-row>
                        
                        <div>Proteins</div>
                        <span class="fill-space"></span>
                        <button tabindex="-1" mat-icon-button (click)="view.showLeftSidebar = false" matTooltip="Close Structures">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div style="flex: 1; overflow-y: auto;">
                    <button *ngFor="let molecule of molecules; index as j;" mat-menu-item (click)="selectMolecules(molecule)"><mat-icon class="m-r-sm">gesture</mat-icon>{{molecule.name}}</button>
                </div>
            </mat-drawer>
            <mat-drawer-content class="p-a">
                Selected molecule {{ selectedMolecule | json }}
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>