<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-chip-list>
      <mat-label>Example WDLs:</mat-label>
      <mat-chip color="accent"
                (click)="useExample('md5sum')">
        md5sum
      </mat-chip>
      <mat-chip color="accent"
                (click)="useExample('callDenovo')">
        callDenovo
      </mat-chip>
      <mat-chip color="accent"
                (click)="useExample('helloWorld')">
        Hello World
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="row">
    <mat-form-field class="col">
        <textarea matInput
                  formControlName="wdl"
                  data-se="inp-workflow-wdl"
                  rows="20"
                  required>
        </textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <div [class]="'editor-container'"
         [ngStyle]="computeEditorStyle()">
      <ngx-monaco-editor [options]="{language: 'wdl', minimap: {enabled: true}}"
                         [(ngModel)]="wdlCurrentContent"
                         [ngModelOptions]="{standalone: true}"
                         (init)="codeEditorEnhancer.configure('wdl')"
                         (ngModelChange)="onEditorUpdated()">
      </ngx-monaco-editor>
    </div>
  </div>
</form>
