<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
</mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav
    *ngIf="appConfig.sidebarEnabled"
    #sidenav
    mode="side"
    [opened]="true"
    disableClose>
    <header>
      <h1 class="flex flex--column">
        <span>{{ appConfig.title }}</span>
        <span *ngIf="isSandbox"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
      </h1>
    </header>

    <mat-nav-list>
      <div *ngIf="isSandbox"
           class="ddap-realm-select">
        <ddap-realm-input></ddap-realm-input>
      </div>

      <mat-list-item [routerLink]="['data']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-data"
                     *ngIf="appConfig.featureExploreDataEnabled">
        <mat-icon class="icon icon-explore"></mat-icon>
        <h4 mat-line>Explore Data</h4>
      </mat-list-item>

      <mat-list-item [routerLink]="['workflows']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-workflows"
                     *ngIf="appConfig.featureWorkflowsEnabled">
        <mat-icon class="icon icon-rules"></mat-icon>
        <h4 mat-line>Workflows</h4>
      </mat-list-item>

      <div class="accordion-wrapper"
           *ngIf="appConfig.featureAdministrationEnabled">
        <mat-accordion [multi]="false">
          <mat-expansion-panel [expanded]="false"
                               data-se="nav-administration-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Administration</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a [href]="withRealm(icPath)" target="_blank">
              <mat-list-item data-se="nav-identity-concentrator">
                <mat-icon class="icon">launch</mat-icon>
                <h4 mat-line>Identity Concentrator</h4>
              </mat-list-item>
            </a>
            <a *ngFor="let damInfo of damsInfo"
               [href]="withRealm(damInfo.uiUrl)"
               target="_blank">
              <mat-list-item data-se="nav-dam">
                <mat-icon class="icon">launch</mat-icon>
                <h4 mat-line>{{damInfo.label}}</h4>
                <span mat-line>Data Access Manager</span>
              </mat-list-item>
            </a>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ddaplib-sandbox-banner *ngIf="isSandbox"></ddaplib-sandbox-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
