<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
</mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" disableClose>
    <header>
      <h1 class="flex flex--column">
        <span>DDAP</span>
        <span *ngIf="isSandbox"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
      </h1>
    </header>

    <mat-nav-list>
      <div *ngIf="isSandbox"
           class="ddap-realm-select">
        <ddap-realm-input></ddap-realm-input>
      </div>

      <div *ngIf="profile"
         class="ddap-logout">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>{{ profile?.name || '&nbsp;' }}</h4>
          <span mat-line
                data-se="nav-logout"
                (click)="logout()">Log Out</span>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </div>
      <a [href]="loginPath"
         *ngIf="!profile"
         data-se="nav-login">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>Log In</h4>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </a>

      <mat-list-item [routerLink]="['data']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-data">
        <mat-icon class="icon icon-explore"></mat-icon>
        <h4 mat-line>Explore Data</h4>
      </mat-list-item>
      <mat-list-item [routerLink]="['workflows']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-workflows">
        <mat-icon class="icon icon-rules"></mat-icon>
        <h4 mat-line>Workflows</h4>
      </mat-list-item>

      <a [href]="icPath" target="_blank">
        <mat-list-item
          data-se="nav-identity-concentrator">
            <mat-icon class="icon icon-identities"></mat-icon>
            <h4 mat-line>Identity Concentrator</h4>
        </mat-list-item>
      </a>
      <ng-container *ngFor="let damInfo of damsInfo">
        <a [href]="damInfo.uiUrl" target="_blank">
          <mat-list-item
            data-se="nav-dam">
              <mat-icon class="icon icon-resources"></mat-icon>
              <h4 mat-line>{{damInfo.label}}</h4>
          </mat-list-item>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ddaplib-sandbox-banner *ngIf="isSandbox"></ddaplib-sandbox-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
