<ddap-component-frame [disableMobile]="true">
  <div *ngIf="loader.progress$ | async"
       class="search-progress-backdrop">
    <mat-spinner [value]="loader.progress$ | async"
                 mode="indeterminate"
                 color="accent">
    </mat-spinner>
  </div>
  <div class="component-frame-main">
    <ng-container *ngIf="dataTableModel">
      <ddap-data-table [columnDefs]="dataTableModel.columnDefs"
                       [rowData]="dataTableModel.rowData">
      </ddap-data-table>
    </ng-container>
  </div>
  <aside class="component-frame-aside">
    <ng-container *ngIf="(filterForm && dataTableModel)">
      <form [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit()">
        <div class="inputs-container">
          <div *ngFor="let columnDef of dataTableModel.columnDefs"
               class="flex flex--row">
            <mat-form-field appearance="outline"
                            floatLabel="always">
              <mat-label>{{ columnDef.headerName }}</mat-label>
              <input matInput
                     [formControlName]="columnDef.field">
              <div class="actions flex vertical-center">
                <mat-icon *ngIf="filterForm.get(columnDef.field).value"
                          (click)="filterForm.get(columnDef.field).reset()"
                          matSuffix>
                  clear
                </mat-icon>
                <mat-icon [matMenuTriggerFor]="operationsMenu"
                          matSuffix>
                  more_vert
                </mat-icon>
              </div>
            </mat-form-field>
            <mat-menu #operationsMenu="matMenu">
              <button *ngFor="let operation of getOperationsByFieldName(columnDef.field)"
                      (click)="filterForm.get(columnDef.field + fieldOpSuffix).patchValue(operation)"
                      [class.selected]="filterForm.get(columnDef.field + fieldOpSuffix).value === operation"
                      mat-menu-item>
                {{ FilterOperationLabel[operation] }}
              </button>
            </mat-menu>
          </div>
        </div>
        <mat-toolbar class="tertiary-toolbar submit-toolbar">
          <mat-toolbar-row>
            <button type="submit"
                    mat-flat-button
                    color="primary">
              Search
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </form>
    </ng-container>
  </aside>
</ddap-component-frame>
