@import '~ddap-common-lib/styles/modules/colors';

.component-frame {
  height: calc(100% - 64px);
}
.component-frame-main {
  display: flex;
  flex-direction: column;
}
.component-frame-aside {
  width: auto;
  padding: 1rem 16px;
  min-width: 200px; // added to have width during loading
}
ddap-data-table {
  display: flex;
  flex-grow: 1;
}
:host ::ng-deep ag-grid-angular {
  border: none !important;
}
:host ::ng-deep .ag-theme-balham .ag-root {
  border: none;
}
.mat-form-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  ::ng-deep .mat-form-field-infix {
    display: flex;
  }
}
::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.operation-inp {
  width: 4rem;
  margin-right: 0.5rem;
}

.actions {
  mat-icon {
    cursor: pointer;
  }
}

button.mat-menu-item.selected {
  color: #146be4; // FIXME: should be a variable
}

.search-progress-backdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
