.component-frame {
  height: calc(100% - 64px);
}

.component-frame-main {
  display: flex;
  flex-direction: column;
}

ddap-data-table {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}

::ng-deep .ag-theme-balham .ag-root {
  border: none;
}
