<div class="component-frame">
  <div class="component-frame-main">
    <ddap-dot-loading-indicator *ngIf="!dataTableModel; else withResult"></ddap-dot-loading-indicator>
    <ng-template #withResult>
      <ddap-data-table [columnDefs]="dataTableModel.columnDefs"
                       [rowData]="dataTableModel.rowData">
      </ddap-data-table>
    </ng-template>
  </div>
  <aside class="component-frame-aside">
    <ddap-dot-loading-indicator *ngIf="!(filterForm && dataTableModel); else withFilterForm"></ddap-dot-loading-indicator>
    <ng-template #withFilterForm>
      <form [formGroup]="filterForm" (ngSubmit)="onFilterFormSubmit()">
        <div *ngFor="let columnDef of dataTableModel.columnDefs"
             class="flex flex--row">
          <mat-form-field appearance="outline"
                          floatLabel="always">
            <mat-label>{{ columnDef.headerName }}</mat-label>
            <input matInput
                   [formControlName]="columnDef.field">
            <mat-icon matSuffix [matMenuTriggerFor]="operationsMenu">more_vert</mat-icon>
          </mat-form-field>
          <mat-menu #operationsMenu="matMenu">
            <button *ngFor="let operation of getOperationsByFieldName(columnDef.field)"
                    (click)="filterForm.get(columnDef.field + fieldOpSuffix).patchValue(operation)"
                    [class.selected]="filterForm.get(columnDef.field + fieldOpSuffix).value === operation"
                    mat-menu-item>
              {{ operation }}
            </button>
          </mat-menu>
        </div>
        <div>
          <button type="submit"
                  mat-flat-button
                  color="primary">
            Filter
          </button>
        </div>
      </form>
    </ng-template>
  </aside>
</div>
