<ddaplib-header icon="wifi_tethering" label="Network">
</ddaplib-header>
<ddaplib-main>
  <div *ngIf="beacons" class="mat-table" style="width:100%">
    <div class="mat-header-row">
        <div class="mat-header-cell">
          Name
        </div>
        <div class="mat-header-cell">
          Organization
        </div>
    </div>
    <div class="mat-row" *ngFor="let beacon of beacons">
        <div class="mat-cell"
            [ngClass]="{'no-wrap': !view.wrapTableContent}">
            {{beacon.name}}
        </div>
        <div class="mat-cell"
            [ngClass]="{'no-wrap': !view.wrapTableContent}" >
            {{beacon.organization}}
        </div>
        <div class="mat-cell"
            [ngClass]="{'no-wrap': !view.wrapTableContent}" >
            <button color="accent" class="mat-stroked-button">Search</button>
        </div>
    </div>
  </div>
</ddaplib-main>
