<ddaplib-header icon="wifi_tethering" label="Network">
</ddaplib-header>
<ddaplib-main>
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      #agGrid
      [hidden]="rowData.length == 0"
      class="ag-theme-balham"
      [defaultColDef]="grid.defaultColumnDefinition"
      [multiSortKey]="grid.multiSortKey"
      [animateRows]="grid.animateRows"
      [pagination]="grid.pagination"
      [floatingFilter]="grid.floatingFilter"
      [suppressCellSelection]="grid.suppressCellSelection"
      [paginationAutoPageSize]="grid.paginationAutoPageSize"
      [(rowData)]="rowData"
      [columnDefs]="columnDefs"
      [domLayout]="grid.domLayout"
      (rowClicked)='onRowClicked($event)'
      (gridReady)="onGridReady($event)"
      >
    </ag-grid-angular>
</ddaplib-main>
