//@import "~ag-grid-community/dist/styles/ag-grid.min.css";
//@import "~ag-grid-community/dist/styles/ag-theme-material.min.css";
@import '~ddap-common-lib/styles/modules/colors';
//@import '~ddap-common-lib/styles/modules/material';

ag-grid-angular {
  display: flex;
  flex-grow: 1;
  max-width: 100%;

  ::ng-deep .ag-root-wrapper {
    flex-grow: 1;
  }

  :host ::ng-deep &.hide-border .ag-root {
    border: 0;
  }
}
