<ddaplib-cover-message *ngIf="controller.getResultCount() === 0"
                       [message]="controller.isFreshStart() ? 'Searching...' : 'No Sequences'"
                       [icon]="controller.isFreshStart() ? 'hourglass_empty' : 'filter_list'">
</ddaplib-cover-message>
<ag-grid-angular
  *ngIf="controller.getResultCount() > 0"
  class="ag-theme-material b-a"
  [defaultColDef]="grid.defaultColumnDefinition"
  [multiSortKey]="grid.multiSortKey"
  [animateRows]="grid.animateRows"
  [pagination]="grid.pagination"
  [floatingFilter]="grid.floatingFilter"
  [suppressCellSelection]="grid.suppressCellSelection"
  [rowData]="controller.resultList"
  [enableCellTextSelection]="true"
  [columnDefs]="controller.columnDefinitionList"
  [domLayout]="grid.domLayout"
  [navigateToNextCell]="selfBoundNavigateToCell"
  [rowSelection]="grid.rowSelection"
  (gridReady)="onGridReady($event)"
  (rowDataChanged)="onRowDataChanged($event)"
  (selectionChanged)="onSelectionChanged($event)"
  (cellClicked)="onSelectionChanged($event)"
>
</ag-grid-angular>
