<div class="data-table-section" data-se="data-table">
  <ag-grid-angular class="ag-theme-balham"
                   (gridReady)="onGridReady($event)"
                   (rowDataChanged)="onRowDataChanged($event)"
                   (selectionChanged)="onSelectionChanged($event)"
                   (cellClicked)="onSelectionChanged($event)"
                   [columnDefs]="columnDefs"
                   [rowData]="rowData"
                   [defaultColDef]="defaultColumnDef"
                   [pagination]="pagination"
                   [rowSelection]="rowSelection"
                   [suppressCellSelection]="defaultTableConfig.suppressCellSelection"
                   [enableCellTextSelection]="defaultTableConfig.enableCellTextSelection"
                   [multiSortKey]="defaultTableConfig.multiSortKey"
                   [navigateToNextCell]="navigateToNextCell">
  </ag-grid-angular>
  <mat-toolbar class="tertiary-toolbar download-toolbar">
    <mat-toolbar-row>
      <div>{{ rowData.length }} results </div>
      <button  mat-icon-button (click)="exportDataAsCsv()" matTooltip="Download as CSV">
        <mat-icon>save_alt</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
