
<ag-grid-angular class="ag-theme-balham"
                 (gridReady)="onGridReady($event)"
                 (rowDataChanged)="onRowDataChanged($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (cellClicked)="onSelectionChanged($event)"
                 [columnDefs]="columnDefs"
                 [rowData]="rowData"
                 [defaultColDef]="defaultColumnDef"
                 [pagination]="pagination"
                 [rowSelection]="rowSelection"
                 [suppressCellSelection]="defaultTableConfig.suppressCellSelection"
                 [enableCellTextSelection]="defaultTableConfig.enableCellTextSelection"
                 [multiSortKey]="defaultTableConfig.multiSortKey"
                 [navigateToNextCell]="navigateToNextCell">
</ag-grid-angular>
<div style="align-self: flex-end;">
  <button (click)="onBtnExportDataAsCsv()" mat-stroked-button color="accent">
    Download as CSV
  </button>
</div>

