$ag-suppress-legacy-var-import: true;

@import '~ddap-common-lib/styles/modules/colors';
@import '~ag-grid-community/dist/styles/ag-theme-balham/vars/_ag-theme-balham-vars.scss';

ag-grid-angular {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 1rem;
  max-width: calc(100% - 2px);
  border: 1px solid $ag-border-color;

  ::ng-deep .ag-root-wrapper {
    flex-grow: 1;

    .ag-root {
      border: 0;
    }
  }
}

.data-table-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;

}

.download-toolbar {
  border-top: 1px solid $color-grey-light;
  border-bottom: none;

  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}
