@import '../../../../node_modules/ddap-common-lib/styles/modules/colors';

.access-denied {
  display: flex;
  align-items: center;
}

.icon-side {
  mat-icon {
    font-size: 3rem;
    width: 3rem;
    margin-right: 5px;
    color: $warn-color;
  }
}

.message-side {
  flex: 1;
  font-size: 1.25rem;
}

.custom-message {
  padding: 16px;
}
