<div class="access-denied" *ngIf="!message; else customMessage">
  <div class="icon-side">
    <mat-icon>warning</mat-icon>
  </div>
  <div class="message-side">
    <p>
      You need to re-authorize this session before proceeding.
    </p>

    <ng-container *ngIf="authorizationUrl; else noAuthorizationUrl">
      <p>
        <a mat-stroked-button
           color="primary"
           [href]="authorizationUrl">Authorize</a>
      </p>
    </ng-container>

    <ng-template #noAuthorizationUrl>
    </ng-template>
  </div>
</div>

<ng-template #customMessage>
  <div class="custom-message" [style]="{alignItems: align || 'flex-start'}">
    <h1>{{ message }}</h1>
    <ng-content></ng-content>
  </div>
</ng-template>
