@import '../../../../node_modules/ddap-common-lib/styles/modules/colors';

.access-denied {
  display: flex;
  align-items: flex-start;
}

.icon-side {
  padding-top: 16px;
  padding-right: 16px;

  mat-icon {
    display: inline-block;
    font-size: 2rem;
    color: $warn-color;
  }
}

.message-side {
  flex: 1;
  font-size: 1.25rem;
}
