@import '~ddap-common-lib/styles/modules/colors';

::ng-deep .cdk-overlay-pane {
  mat-dialog-container {
    padding: 0;
  }
}

:host {
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  mat-dialog-content {
    margin: 0;
    flex: 1;
    overflow-y: auto;
  }

  .close-toolbar {
    border-bottom: 0;
    border-top: 1px solid $color-grey-light;
  }
}
