@import '~ddap-common-lib/styles/modules/colors';

input[disabled],
:host ::ng-deep .mat-input-element:disabled,
:host ::ng-deep .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
:host ::ng-deep .dnastack .mat-input-element:disabled,
:host ::ng-deep .dnastack .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: black;
  -webkit-text-fill-color: black;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label,
::ng-deep .dnastack .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: rgba(0, 0, 0, 0.7);
}
