<ddaplib-header>
  <h2>Beacon</h2>
  <span class="fill-space"></span>
  <div>
    <button (click)="openHelpDialog()"
            mat-icon-button
            matTooltip="Help">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</ddaplib-header>

<ddaplib-main (keyup.enter)="submitQuery()">
  <mat-drawer-container [autosize]="true"
                        [hasBackdrop]="false">
    <mat-drawer #selectedRowDetailDrawer
                [mode]="'side'"
                position="end">
      <ng-container *ngIf="selectedRowData">
        <mat-toolbar class="tertiary-toolbar">
          <mat-toolbar-row>
            <div>Details</div>
            <span class="fill-space"></span>
            <button (click)="selectedRowDetailDrawer.close()"
                    matTooltip="Hide Details"
                    mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
        <ddap-beacon-search-result-detail [selectedRowData]="selectedRowData"
                                          [schema]="(beaconQueryResponse$ | async)?.datasetAlleleResponses[0].info.data_model">
        </ddap-beacon-search-result-detail>
      </ng-container>
    </mat-drawer>

    <mat-drawer-content>
      <ddap-beacon-info-bar (beaconChanged)="beaconForm = $event; loadResultTable()"
                            [hideInputs]="isStandaloneMode$ | async">
      </ddap-beacon-info-bar>

      <ng-container *ngIf="!beaconForm?.beacon?.error; else errorInfo">
        <div *ngIf="beaconForm?.beacon?.resource as beaconResource"
             class="flex vertical-center search-bar">
          <ddap-beacon-search-bar (queryChanged)="beaconQuery = $event; loadResultTable()"
                                  [interfaceType]="beaconResource.interfaces[0].type"
                                  [beaconInfo]="beaconForm.beacon.beaconInfo">
          </ddap-beacon-search-bar>
          <button (click)="submitQuery()"
                  data-se="submit-search-btn"
                  mat-flat-button
                  color="primary"
                  class="flex vertical-center">
            <mat-icon>search</mat-icon>
            Search
          </button>
        </div>

        <div class="flex stretch">
          <div *ngIf="beaconQueryResponse$ | async as queryResponse"
               class="flex stretch search-results">

            <!-- Auth Required -->
            <ng-container *ngIf="queryResponse.requiresAdditionalAuth">
              <div class="auth-required-info stretch">
                <mat-card>
                  <mat-card-title>Authorization Required</mat-card-title>
                  <mat-card-content>
                    <p>To query a selected beacon you need to authorize by clicking a button below.</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="fill-space"></div>
                    <a [href]="buildUrlForResourceAuthorization(queryResponse.authorizationUrlBase)"
                       data-se="get-access-btn">
                      <button mat-flat-button
                              color="primary"
                              class="uppercase">
                        Access
                      </button>
                    </a>
                  </mat-card-actions>
                </mat-card>
              </div>
            </ng-container>

            <!-- Auth NOT Required -->
            <ng-container *ngIf="!queryResponse.requiresAdditionalAuth">
              <mat-tab-group *ngIf="queryResponse.datasetAlleleResponses.length > 1; else singleDatasetResult">
                <mat-tab *ngFor="let datasetAlleleResponse of queryResponse.datasetAlleleResponses">
                  <ng-template mat-tab-label>
                    <mat-icon *ngIf="!datasetAlleleResponse.exists"
                              [matTooltip]="'no matching allele found'"
                              class="icon icon-none match-failure">
                    </mat-icon>
                    <mat-icon *ngIf="datasetAlleleResponse.exists"
                              [matTooltip]="'matching allele found'"
                              class="match-success">
                      done
                    </mat-icon>
                    <span>{{ datasetAlleleResponse.datasetId || datasetAlleleResponse['id'] }}</span>
                  </ng-template>
                  <ddap-beacon-search-result-table (selectedRowChanged)="onSelectedRowChanged($event)"
                                                   [datasetAlleleResponse]="datasetAlleleResponse"
                                                   [tableName]="tableName">
                  </ddap-beacon-search-result-table>
                </mat-tab>
              </mat-tab-group>

              <ng-template #singleDatasetResult>
                <ddap-beacon-search-result-table (selectedRowChanged)="onSelectedRowChanged($event)"
                                                 [datasetAlleleResponse]="queryResponse.datasetAlleleResponses[0]"
                                                 [tableName]="tableName">
                </ddap-beacon-search-result-table>
              </ng-template>
            </ng-container>

          </div>
        </div>
      </ng-container>

      <ng-template #errorInfo>
        <div class="flex stretch error-placeholder">
          <mat-icon>error_outline</mat-icon>
          Unable to query selected beacon. Please try again or select different beacon.
        </div>
      </ng-template>

    </mat-drawer-content>
  </mat-drawer-container>
</ddaplib-main>
