<ddaplib-header>
  <h2>Beacon</h2>
  <span class="fill-space"></span>
  <div>
    <button (click)="openHelpDialog()"
            mat-icon-button
            matTooltip="Help">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</ddaplib-header>

<ddaplib-main>
  <ddap-beacon-info-bar (beaconChanged)="changeBeaconResource($event)">
  </ddap-beacon-info-bar>
  <div *ngIf="beaconForm?.beacon?.resource as beaconResource"
       class="search-bar">
    <ddap-beacon-search-bar (queryChanged)="changeBeaconQuery($event)"
                            [interfaceType]="beaconResource.interfaces[0].type"
                            [beaconInfo]="beaconForm.beacon.beaconInfo">
    </ddap-beacon-search-bar>
  </div>

  <div class="search-content-container">
    <div *ngIf="loader.progress$ | async"
         class="search-progress-backdrop">
      <mat-spinner [value]="loader.progress$ | async"
                   mode="indeterminate"
                   color="accent">
      </mat-spinner>
    </div>

    <div *ngIf="beaconQueryResponse$ | async as queryResponse"
         class="search-results">
      <ddap-beacon-search-result-table [alleleResponses]="queryResponse.datasetAlleleResponses"
                                       [hiddenFieldIds]="['start', 'ref', 'alt', 'type', 'vep', 'nuc_completeness']">
      </ddap-beacon-search-result-table>
    </div>
  </div>

</ddaplib-main>
