@import '~ddap-common-lib/styles/modules/colors';

ddaplib-main {
  padding: 0;

  ::ng-deep main {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

mat-drawer-container,
mat-drawer-content {
  display: flex;
  flex-grow: 1;
}

mat-drawer {
  width: 30rem;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.search-bar {
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.search-results {
  overflow-y: auto;
}

ddap-beacon-search-result-table {
  height: 100%;
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}

.search-progress-backdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep mat-dialog-container {
  max-width: 55rem;
}

.error-placeholder {
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;

  mat-icon {
    margin-right: 0.5rem;
  }
}

::ng-deep mat-tab-group {
  flex-grow: 1;

  .mat-tab-label {
    mat-icon {
      margin-right: 0.5rem;

      &.match-success {
        color: $beacon-query-result-match;
      }

      &.match-failure {
        color: $beacon-query-result-no-match;
      }
    }
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.auth-required-info {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card-actions {
    display: flex;
  }
}

@media only screen and (max-width: 479px) {
  ::ng-deep ddap-beacon-info-bar {
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }

  .search-bar {
    flex-direction: column;

    button {
      margin-top: 1rem;
    }

    ::ng-deep ddap-beacon-search-bar {
      width: 100%;
    }
  }

  mat-drawer {
    width: 100vw;
  }

  mat-drawer.mat-drawer-end {
    border: 0;
  }
}

@media only screen and (min-width: 768px) {
  .search-bar {
    button {
      margin-left: 1rem;
    }
  }
}


.tertiary-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 25001;
}
