@import '~ddap-common-lib/styles/modules/colors';

::ng-deep .site-container ddaplib-main {
  padding: 1rem;

  main {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.search-bar {
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.search-results {
  height: 100%;
}

.search-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-progress-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  ::ng-deep ddap-beacon-info-bar {
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }
  }

  .search-bar {
    flex-direction: column;

    button {
      margin-top: 1rem;
    }

    ::ng-deep ddap-beacon-search-bar {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .search-bar {
    button {
      margin-left: 1rem;
    }
  }
}
