@import '~ddap-common-lib/styles/core.scss';

@import 'base';

.expansion-footer-content {
  background: $color-faded-grey;
  margin: 16px -24px -16px;
  padding: 16px 24px;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;

  ::ng-deep mat-form-field {
    margin-right: 0.5rem;
  }
}
