<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <mat-label>Runs</mat-label>
      <mat-select formControlName="wesView"
                  data-se="inp-workflow-wes-view"
                  panelClass="workflow-wes-view-select"
                  required>
        <ng-container *ngFor="let wesResourceView of wesResourceViews">
          <mat-option *ngFor="let wesView of wesResourceView.views"
                      [value]="wesView.name">
            <div class="select-option">
              <span>{{ wesResourceView.resource }}/{{ wesView.label }}: </span>
              {{ wesView.url }}
            </div>
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</form>
