<ddaplib-header [backLink]="['..']"
                label="Registered workflows">
</ddaplib-header>

<ddaplib-main>
  <div class="section-header">
    <div class="list-paginator">
      <button mat-icon-button
              type="button"
              [disabled]="this.updateInProgress || pageIndex === 0"
              (click)="onPagerClick(-1)">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button
              type="button"
              [disabled]="updateInProgress || pageIndex + 1 === getTotalPageNumber()"
              (click)="onPagerClick(+1)">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="standard" class="filter-input">
      <mat-label>Filter by tool name and/or author</mat-label>
      <input #filter type="text" matInput (keyup)="onFilterUpdate(filter.value)" [disabled]="updateInProgress" value="{{ filterTerm }}">
    </mat-form-field>
    <div class="action" *ngIf="filter.value">
      <button mat-icon-button type="reset" color="warn" title="Clear the filter" (click)="onFilterResetClick()" [disabled]="updateInProgress"><mat-icon>clear</mat-icon></button>
    </div>
    <div class="action">
      <button mat-icon-button type="button" color="primary" title="Refresh" (click)="onFilterRefreshClick()" [disabled]="updateInProgress"><mat-icon>refresh</mat-icon></button>
    </div>
  </div>

  <ng-container *ngIf="tools && tools.length == 0">
    No workflow registered
  </ng-container>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let tool of (filteredTools || []).slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)" class="workflow" (expandedChange)="onToolDetailExpandChange()">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ tool.toolname }}</mat-panel-title>
        <mat-panel-description>{{ tool.author || tool.organization }}</mat-panel-description>
      </mat-expansion-panel-header>

      <!-- When there is NO tool selected... -->
      <div class="content" *ngIf="!selectedTool">
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="onRunClick(tool)"
          >Run</button>
        </div>
        <div class="description" [innerHTML]="(tool.description || '*No description*') | markdown"></div>
      </div>

      <!-- When there is a tool SELECTED... -->
      <div class="version-selector" *ngIf="selectedTool ">
        <h3 class="label">Please select one version</h3>
        <div class="version-list" *ngIf="tool.versions">
          <mat-card *ngFor="let version of tool.versions">
            <mat-card-title>
              {{version.name}}
              <mat-icon *ngIf="version.verified">check</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>{{version.meta_version}}</mat-card-subtitle>
            <mat-card-actions>
              <button mat-flat-button
                      *ngFor="let descriptor_type of version.descriptor_type"
                      color="primary"
                      (click)="onVersionSelectionSelectClick(version, descriptor_type)"
              >{{ descriptor_type }}</button>
            </mat-card-actions>
          </mat-card>
          <button mat-stroked-button (click)="onVersionSelectionCancelClick()"><mat-icon>cancel</mat-icon> Cancel</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ddaplib-main>
