//@import '~ddap-common-lib/styles/modules/colors';

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .list-paginator {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 15px;
  }
}

.workflow {
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-top: 1px dashed #d3d3d3;

    .description {
      order: 1;
    }

    .actions {
      display: flex;
      flex-direction: column;
      order: 2;
      margin-left: 15px;
    }
  }

  .version-selector {
    padding-top: 15px;
    border-top: 1px dashed #d3d3d3;

    .version-list {
      display: flex;

      mat-card {
        margin-right: 15px;
      }
    }
  }
}
