<form (submit)="submitQuery()"
      [formGroup]="form"
      novalidate
      class="flex vertical-center">
  <mat-form-field class="input-select"
                  appearance="outline">
    <mat-select class="mat-button-wrapper"
                name="assembly"
                formControlName="assembly">
      <mat-option *ngFor="let assembly of assemblies"
                  [value]="assembly">
        {{ assembly }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="stretch">
    <input [placeholder]="form.get('query').value ? '' : placeholder"
           matInput
           formControlName="query"
           data-se="search-input">
  </mat-form-field>
  <span class="fill-space"></span>
  <button (click)="submitQuery()"
          mat-button
          mat-stroked-button
          data-se="submit-search-btn"
          color="accent"
          class="uppercase"
          type="submit">
    Search
  </button>
</form>
