@import '../../../../node_modules/ddap-common-lib/styles/modules/colors';

mat-sidenav-container {
  height: 100%;
}

:host {
  .ddap-realm-select {
    background-color: $navbar-expanded-background;
    padding: 0.5rem 1rem;
  }
  .credentials-username {
    cursor: default;

    span {
      cursor: pointer;
    }
  }
}

::ng-deep .ddap-logout {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

::ng-deep .accordion-wrapper {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

.sandbox-warning {
  font-size: 1rem;
  color: $warn-color;
}

.full-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}