@import '../../../../node_modules/ddap-common-lib/styles/modules/colors';

mat-sidenav-container {
  height: 100%;
}

.link-to-external-app {
  display: flex;
  align-items: center;

  .dam-info {
    span.dam-info-label {
      display: block;
      margin-top: -1rem;
    }
    span.dam-info-sublabel {
      display: block;
      font-size: 0.75rem;
      color: $color-grey;
      line-height: 1rem;
      margin-top: -1rem;
    }
  }

  &:hover {
    color: black;
  }
}

:host {
  .ddap-realm-select {
    background-color: $navbar-expanded-background;
    padding: 0.5rem 1rem;
  }
  .credentials-username {
    cursor: default;

    span {
      cursor: pointer;
    }
  }
}

::ng-deep .ddap-logout {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

::ng-deep .accordion-wrapper {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

.sandbox-warning {
  font-size: 1rem;
  color: $warn-color;
}

mat-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
}

