<div class="full-page" style="display: flex; flex-direction: column">
  <ddaplib-main-header [siteName]="appConfig.title"
                       *ngIf="router.url != '/home'">
    <ng-container *ngIf="appConfig.featureAdministrationEnabled">
      <div class="app-menu-section-title">Administration</div>
      <ng-container *ngIf="identityConcentratorInfo$ | async as identityConcentratorInfo">
        <a [href]="withRealm(identityConcentratorInfo.uiUrl)"
          mat-menu-item
          class="link-to-external-app"
          data-se="nav-identity-concentrator"
          target="_blank">
          <mat-icon class="icon">launch</mat-icon>
          <span>Identity Concentrator</span>
        </a>
      </ng-container>

      <ng-container *ngIf="dataAccessManagersInfo$ | async as dataAccessManagersInfo">
        <a *ngFor="let damInfo of dataAccessManagersInfo | keyvalue"
          [href]="withRealm(damInfo.value.uiUrl)"
          mat-menu-item
          class="link-to-external-app"
          target="_blank">
          <mat-icon class="icon">launch</mat-icon>
          <span class="dam-info">
            <span class="dam-info-label">{{damInfo.value.label}}</span>
            <span class="dam-info-sublabel">Data Access Manager</span>
          </span>
        </a>
      </ng-container>
    </ng-container>
  </ddaplib-main-header>

  <div style="flex:1"><!--  ⃪ FIXME deal with this inline "flex" -->
    <mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
    </mat-progress-bar>
    <mat-sidenav-container>
      <!-- Left Side Navigation -->
      <mat-sidenav *ngIf="router.url != '/home'"
        position="start"
        leftSidenav
        mode="side"
        opened="{{viewController.view.leftSidebarOpened}}"
        class="b-r"
        >
        <!-- The inline CSS for this <span> is an exception as this is for testing. -->
        <span *ngIf="appConfig.featureRealmInputEnabled"
              class="sandbox-warning"
              style="position: absolute; left: 1rem; font-size: 0.75rem;"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
        <app-sidenav-left></app-sidenav-left>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Middle Content -->
        <ddaplib-sandbox-banner *ngIf="appConfig.featureRealmInputEnabled"></ddaplib-sandbox-banner>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<!--<div *ngIf="appConfig.featureRealmInputEnabled"-->
<!--  class="ddap-realm-select">-->
<!--  <ddaplib-realm-input (onAcknowledge)="onAcknowledge($event)"-->
<!--    actions="['edit']">-->
<!--  </ddaplib-realm-input>-->
<!--</div>-->
