<div class="full-page" style="display: flex; flex-direction: column">
  <app-menu [(sitename)]="appConfig.title" [(appname)]="viewController.currentApp.name" *ngIf="router.url != '/home'"></app-menu>
  <div style="flex:1">
    <!--<mat-progress-bar *ngIf="loader.progress$ | async"
                  mode="determinate"
                  [value]="loader.progress$ | async"
                  data-se="main-progress-bar">
    </mat-progress-bar>-->
    <mat-sidenav-container style="height: 100%">
      <!-- Left Side Navigation -->
      <mat-sidenav *ngIf="router.url != '/home'"
        position="start"
        leftSidenav
        mode="side"
        opened="{{viewController.view.leftSidebarOpened}}"
        style="min-width:300px"
        class="b-r"
        >
        <span *ngIf="appConfig.featureRealmInputEnabled"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
        <app-sidenav-left></app-sidenav-left>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Middle Content -->
        <ddaplib-sandbox-banner *ngIf="appConfig.featureRealmInputEnabled"></ddaplib-sandbox-banner>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

<!--<div *ngIf="appConfig.featureRealmInputEnabled"-->
<!--  class="ddap-realm-select">-->
<!--  <ddaplib-realm-input (onAcknowledge)="onAcknowledge($event)"-->
<!--    actions="['edit']">-->
<!--  </ddaplib-realm-input>-->
<!--</div>-->
