<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52918106-11"></script>-->
<!--<script>-->
<!--    window.dataLayer = window.dataLayer || [];-->
<!--    function gtag(){dataLayer.push(arguments);}-->
<!--    gtag('js', new Date());-->

<!--    gtag('config', 'UA-52918106-11');-->
<!--</script>-->
<div class="site-container {{viewController.view.leftSidebarOpened ? '' : 'zen-mode'}}">
  <ddaplib-main-header [siteName]="appConfig.ui.title"
    [logoUrl]="appConfig.ui.logoUrl"
    [isSandbox]="appConfig.enabledFeatures.includes(FrontendFeature.realmInput)"
    [realmActions]="['edit']"
    (realmChangeAcknowledge)="onAcknowledge($event)">
    <ddaplib-menu-apps [accessibleApps]="viewController.getAccessibleApps()"
      [realmId]="viewController.getRealmId()"
      *ngIf="viewController.getAccessibleApps().length > 1">
      <ng-container *ngIf="appConfig.enabledFeatures.includes(FrontendFeature.administration)">
        <mat-divider></mat-divider>
        <div class="app-menu-section-title">Administration</div>
        <ng-container *ngIf="identityConcentratorInfo$ | async as identityConcentratorInfo">
          <a [href]="withRealm(identityConcentratorInfo.uiUrl)"
            mat-menu-item
            class="link-to-external-app"
            data-se="nav-identity-concentrator"
            target="_blank">
            <mat-icon class="icon">vpn_key</mat-icon>
            <span>Identity Concentrator</span>
          </a>
        </ng-container>

        <ng-container *ngIf="dataAccessManagersInfo$ | async as dataAccessManagersInfo">
          <a *ngFor="let damInfo of dataAccessManagersInfo | keyvalue"
            [href]="withRealm(damInfo.value.uiUrl)"
            mat-menu-item
            data-se="nav-data-access-manager"
            class="link-to-external-app"
            target="_blank">
            <mat-icon class="icon">launch</mat-icon>
            <span class="dam-info">
              <span class="dam-info-label">{{damInfo.value.label}}</span>
              <span class="dam-info-sublabel">Data Access Manager</span>
            </span>
          </a>
        </ng-container>
      </ng-container>
    </ddaplib-menu-apps>
    <ddaplib-menu-profile *ngIf="appConfig.enabledFeatures.includes(FrontendFeature.authOnInitRequired) && accessControlService.isUserAuthorized()">
      <button mat-menu-item
        (click)="onSignOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </ddaplib-menu-profile>
  </ddaplib-main-header>

  <mat-progress-bar *ngIf="loader.progress$ | async"
    mode="determinate"
    color="accent"
    [value]="loader.progress$ | async"
    data-se="main-progress-bar">
  </mat-progress-bar>

  <ddaplib-sandbox-banner *ngIf="appConfig.enabledFeatures.includes(FrontendFeature.realmInput)"></ddaplib-sandbox-banner>

  <mat-sidenav-container>
    <!-- Left Side Navigation -->
    <mat-sidenav
      position="start"
      mode="side"
      [opened]="viewController.getCurrentApp() && viewController.getCurrentApp().isSidebarEnabled"
    >
      <app-sidenav-left></app-sidenav-left>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngIf="viewController.getCurrentApp(); else inaccessibleApp">
        <!-- Middle Content -->
        <ddaplib-sandbox-banner *ngIf="appConfig.enabledFeatures.includes(FrontendFeature.realmInput)"></ddaplib-sandbox-banner>
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #inaccessibleApp>
        <ddap-access-denied-screen class="disabled-feature" message="This feature is currently unavailable" align="center">
          <p>Thank you for your interest in this feature but it is currently unavailable. Stay tuned.</p>
        </ddap-access-denied-screen>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ddaplib-footer *ngIf="appConfig.enabledFeatures.includes(FrontendFeature.terms)">
    <span class="fill-space"></span>
    <a class="m-r-sm" href="https://dnastack.com"
          target="_blank">
          <span>&copy; DNAstack</span>
        </a>
        <a class="m-r-sm" [href]="appConfig.tosUrl"
          target="_blank">
          <span>Terms of Use</span>
        </a>
        <a href="https://dnastack.com/#/legal/privacy"
          target="_blank">
          <span>Privacy Policy</span>
        </a>
  </ddaplib-footer>
</div>
