<ddaplib-header [backLink]="['..']"
             label="Workflow Detail">
  <a *ngIf="fileResourceAuthUrl as resourceAuthUrl"
     [href]="resourceAuthUrl"
     data-se="btn-authorize">
    <button mat-flat-button
            color="primary"
            class="uppercase">
      Authorize
    </button>
  </a>
</ddaplib-header>
<mat-card class="workflow-card">
  <mat-card-header>Status: {{ runDetails?.state }}</mat-card-header>
  <mat-card-content data-se="run-json-editor">
    <json-editor [options]="editorOptions"
                 [data]="runDetails">
    </json-editor>
  </mat-card-content>
</mat-card>
