<div class="flex flex--column">
  <div *ngFor="let entry of credentialEntries"
       class="flex">
    <mat-form-field class="stretch">
      <input [placeholder]="entry.label"
             [attr.data-se]="entry.key"
             [value]="entry.value"
             matInput
             readonly
             type="text">
    </mat-form-field>
    <button [cbContent]="entry.value"
            mat-flat-button
            matSuffix
            mat-icon-button
            ngxClipboard
            matTooltip="Copy to clipboard"
            aria-label="Copy to clipboard">
      <mat-icon class="icon icon-copy"></mat-icon>
    </button>
  </div>
</div>
