<div class="flex flex--column">
  <div class="flex" *ngFor="let credential of credentials">
    <mat-form-field class="stretch">
      <input matInput
             readonly
             type="text"
             [placeholder]="credential.label"
             [attr.data-se]="credential.key"
             [value]="credential.value">
    </mat-form-field>
    <button mat-flat-button
            matSuffix
            mat-icon-button
            ngxClipboard
            [cbContent]="credential.value"
            matTooltip="Copy to clipboard"
            aria-label="Copy to clipboard">
      <mat-icon class="icon icon-copy"></mat-icon>
    </button>
  </div>
</div>
