<ddaplib-header iconName="collections_bookmark"
                label="Collections">
</ddaplib-header>

<ddaplib-main>
  <ng-container *ngIf="collections$ | async as collectionsResponse">
    <!--
      FIXME If we need to make one more copy of this, we should consider componentizing this component.
            - data/collection/collection-list
            - search/search-resources
    -->
    <mat-card *ngFor="let collection of collectionsResponse.data"
              [routerLink]="[collection.id]"
              class="ddap-card">
      <mat-card-header>
        <mat-card-title>
          {{ ellipseIfLongerThan(collection.name, 60) }}
        </mat-card-title>
      </mat-card-header>

      <img [src]="[collection.imageUrl || randomImageRetriever.getPathToFixedRandomImage(collection.id)]"
           [alt]="collection.name + ' Logo'"
           mat-card-image>

      <mat-card-content>
        <p>{{ ellipseIfLongerThan(collection.description, 100) }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ddaplib-main>
