<ddaplib-searchable-header [searchable]="true"
                           iconName="collections_bookmark"
                           label="Collections">
  <ddap-beacon-search-bar></ddap-beacon-search-bar>
</ddaplib-searchable-header>

<ddaplib-main>
  <ng-container *ngIf="collections$ | async as collectionsResponse">
    <mat-card *ngFor="let collection of collectionsResponse.data"
              class="ddap-card">
      <mat-card-header>
        <mat-card-title>
          {{ ellipseIfLongerThan(collection.name, 60) }}
        </mat-card-title>
      </mat-card-header>

      <img [src]="[collection.imageUrl || randomImageRetriever.getPathToFixedRandomImage(collection.id)]"
           [alt]="collection.name + ' Logo'"
           mat-card-image>

      <mat-card-content>
        <p>{{ ellipseIfLongerThan(collection.description, 100) }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button [routerLink]="[collection.id]"
                mat-button
                color="primary"
                class="uppercase"
                data-se="view-set-btn">
          View Set
        </button>
        <mat-icon class="icon icon-add"></mat-icon>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ddaplib-main>
