<ddaplib-header icon="search" label="Search"></ddaplib-header>
<div class="main-container">
  <mat-drawer-container [autosize]="true" class="search-container">
    <mat-drawer mode="side" class="search-drawer" opened>
      <mat-toolbar class="tertiary-toolbar search-toolbar">
        <mat-toolbar-row>
          <div>
            <button mat-icon-button (click)="onResourceListButtonClick()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            Search Resources
          </div>
          <span class="fill-space"></span>
          <button tabindex="-1"
                  mat-icon-button
                  (click)="getTables()"
                  matTooltip="Refresh Tables">
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="table-list-container">
        <ng-container> <!-- FIXME remove ng-container -->
          <mat-accordion *ngIf="tableInfoList.length > 0">
            <mat-expansion-panel *ngFor="let table of uiTableInfoList; index as j;" tabindex="-1"
                                 (opened)="onTableInfoExpanded(table)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="m-r-sm">web_asset</mat-icon>
                  <span title="{{table.metadata.name}}">{{table.label}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="table-info-details">
                <div class="table-info-detail">
                  <h4>Table</h4>
                  <a (click)="onTableNameClick(table.metadata.name)" tabindex="-1">
                    {{table.metadata.name}}
                  </a>
                </div>
                <div class="table-info-detail">
                  <h4>Properties</h4>
                  <div class="table-property-list init" *ngIf="!isTablePropertyListFinal(table)">
                    Loading...
                  </div>
                  <ul class="table-property-list" *ngIf="isTablePropertyListFinal(table)">
                    <li *ngFor="let property of table.metadata.data_model.properties | keyvalue : propertyOrder;">
                      <a (click)='onTableColumnNameClick(property.key)'
                         tabindex="-1">
                        <span [title]="property.key">{{property.key}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <button class="m-t-sm" tabindex="-1" mat-icon-button
                        (click)="onPreviewQueryClick(table.metadata.name)"
                        [attr.data-se]="'preview-table-'+(j+1)"
                        matTooltip="Preview Table">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button tabindex="-1" mat-icon-button (click)="viewTableAsJSON(table.metadata)"
                        matTooltip="View Table as JSON" style="display:inline">
                  <mat-icon>launch</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <mat-drawer-container style="height:100%" [autosize]="true">
        <mat-drawer-content>
          <div class="search-query-result-combo">
            <mat-toolbar class="tertiary-toolbar query-editor-container">
              <mat-toolbar-row>
                <div>Query</div>
                <span class="fill-space"></span>
                <button tabindex="-1"
                        mat-stroked-button
                        color="accent"
                        (click)="this.searchEditor.doSearchFromEditor()"
                        matTooltip="Run query"
                        data-se="run-query"
                        [disabled]="view.isSearching"
                        *ngIf="view.showQueryEditor">
                  <mat-icon>play_arrow</mat-icon>
                  Run
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
            <div class="query-result-container {{view.showQueryEditor ? 'editor-visible' : ''}}">
              <ddap-search-editor *ngIf="view.showQueryEditor"
                                  class="b-b"
                                  [searchText]="currentQuery"
                                  [editorOptions]="options"
                                  (doSearch)="doSearch($event, true)">
              </ddap-search-editor>

              <div class="query-error"
                   *ngIf="view.showQueryEditor && queryError">
                <mat-icon>error</mat-icon>
                <div class="type">{{queryError.errorName}}</div>
                <div class="message">{{queryError.message}}</div>
              </div>

              <!-- Result Header -->
              <mat-toolbar class="tertiary-toolbar result-header">
                <mat-toolbar-row>
                  <div>Results</div>
                  <span class="fill-space"></span>
                  <!-- Result View Controls -->
                  <div *ngIf="result" class="result-header-controls">
                    <mat-chip-list class="result-counter">
                      <mat-chip color="primary">
                        {{result.data?.length}} results
                      </mat-chip>
                    </mat-chip-list>
                    <button tabindex="-1" mat-icon-button
                            (click)="view.wrapSearchResults = !view.wrapSearchResults"
                            color="{{view.wrapSearchResults ? 'accent' : '' }}"
                            matTooltip="{{view.wrapSearchResults ? 'Don\'t Wrap Text' : 'Wrap Text' }}">
                      <mat-icon>wrap_text</mat-icon>
                    </button>
                    <button tabindex="-1" mat-icon-button
                            (click)="onResultTableFullscreenButtonToggle()"
                            matTooltip="{{ view.showQueryEditor ? 'Only show the results' : 'Show both query editor and results' }}">
                      <mat-icon>{{ view.showQueryEditor ? 'fullscreen' : 'fullscreen_exit' }}</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Query History"
                            [matMenuTriggerFor]="menu">
                      <i class="material-icons">
                        history
                      </i>
                    </button>
                    <mat-menu #menu="matMenu" class="menu-width-lg">
                      <button *ngFor="let q of queryHistory" (click)="doSearch(q, false)"
                              mat-menu-item>{{q}}</button>
                    </mat-menu>
                    <button tabindex="-1" mat-icon-button (click)="viewResultsJSON()"
                            matTooltip="View Results as JSON"
                            *ngIf="fixedFlags.viewResultsAsJSON">
                      <mat-icon>launch</mat-icon>
                    </button>
                  </div>
                </mat-toolbar-row>
              </mat-toolbar>

              <div *ngIf="result != null && view.isSearching" class="sync-in-progress">
                Updating...
              </div>

              <!-- Result Container -->
              <div class="result-outer-wrapper">
                <ng-container *ngIf="queryHistory.length > 0">
                  <!-- Completed Query -->
                  <div class="completed-query">
                    <pre><code>{{completedQuery}}</code></pre>
                    <button *ngIf="result && fixedFlags.workflowIntegrationEnabled"
                            mat-stroked-button
                            color="accent"
                            matTooltip="Run query"
                            class="run-workflow"
                            [routerLink]="['/'+realm, 'analyze', 'run']"
                            [queryParams]="{'source': 'search'}">
                      <mat-icon>launch</mat-icon>
                      Run Workflow
                    </button>
                  </div>

                  <!-- Result Table -->
                  <table *ngIf="result"
                         data-se="result-wrapper">
                    <tr>
                      <th *ngFor="let property of properties;">{{property}}</th>
                    </tr>
                    <tr *ngFor="let row of result['data']">
                      <td [ngClass]="{'no-wrap': !view.wrapSearchResults}"
                          *ngFor="let value of row | objectToArray : properties"
                          [innerHTML]="value | linkify">
                      </td>
                    </tr>
                  </table>

                  <div *ngIf="!result"
                       data-se="result-wrapper">
                    No results
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
