@import '~ddap-common-lib/styles/modules/colors';

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.search-container {
  height: 100%;
}

/*TODO Refactor styles */
.search-toolbar {
  height: 64px;
  position: absolute;
  top: 0;
}

.search-drawer {
  min-width: 400px;
  max-width: 400px;
}

.run-workflow {
  margin-left: auto;
}

.table-list-container {
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0;
  overflow-y: auto;

  mat-panel-title {
    display: flex;
    align-items: center;
  }
}

.table-info-details {
  margin-left: calc(24px + 0.75rem);

  .table-info-detail {
    margin-bottom: 16px;

    h4 {
      font-weight: 700;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

.table-property-list {
  margin: 0;
}

ul.table-property-list {
  padding: 0;
  list-style: none;

  li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul.table-property-list:empty:after {
  content: 'Unable to retrieve the list of properties';
  color: $color-grey-light;
}

div.table-property-list.init {
  display: flex;
  color: $color-grey-light;
}

.search-query-result-combo {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.query-editor-container {
  height: 64px;
  position: absolute;
  top: 0;
}

.query-result-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  &.editor-visible {
    top: 64px;
  }
}

.result-header {
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
}

.result-header-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-counter {
  margin: 0 10px;
}

.query-error {
  color: #fff;
  background-color: $failure-color;

  mat-icon {
    float: left;
    margin: 16px 8px 16px 16px;
  }

  .type {
    margin: 16px 16px 0 8px;
    font-weight: 700;
  }

  .message {
    margin: 0 16px 16px 8px;
  }
}

.sync-in-progress {
  position: relative;

  ddap-dot-loading-indicator {
    position: absolute;
    top: 1rem;
    right: 1rem;
    zoom: 0.5;
  }
}

.result-outer-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 16px;
}

.completed-query {
  pre {
    margin-top: 0;
  }
}

.results {
  border: 1px solid $color-grey-light;
  overflow: auto;

  table {
    background: white;
    min-width: 100%;
    border-collapse: collapse;
    border: none;
  }

  th, td {
    text-align: left;
    border: 1px solid $color-grey-light;
    padding: 1rem;

    &.no-wrap {
      white-space: nowrap;
    }

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  th {
    border-bottom: 2px solid $color-grey-light;
  }

  td {
    border-bottom: 1px solid $color-grey-light;
  }

  tr:first-child {
    th, td {
      border-top: none;
    }
  }

  tr:last-child {
    th, td {
      border-bottom: none;
    }
  }

  &.result-count-0 {

  }
}
