<ddaplib-header iconName="view_carousel"
                label="Collections">
</ddaplib-header>
<ddaplib-main [disableMobile]="true">
  <!--
    FIXME If we need to make one more copy of this, we should consider componentizing this component.
          - data/collection/collection-list
          - search/search-resources
  -->
  <mat-card class="ddap-card"
            *ngFor="let collection of collections"
            [routerLink]="['..', collection.id]">
    <mat-card-header>
      <mat-card-title>{{ collection.name || 'Unknown' }}</mat-card-title>
      <mat-card-subtitle>{{ collection.description || 'Unknown' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         [src]="[randomImageRetriever.getPathToFixedRandomImage((collection.metadata || {}).imageUrl)]"
         alt="Photo">
    <mat-card-actions>
      <a [routerLink]="['..', collection.id]"
         data-se="explore-resource"
         mat-button>
          Explore
      </a>
    </mat-card-actions>
  </mat-card>
</ddaplib-main>
