<mat-toolbar class="tertiary-toolbar" style="height: 64px; position:absolute; top: 0;">
    <mat-toolbar-row>
        <div class="m-r-lg">Variants</div>
        <span class="fill-space"></span>
        <button (click)="mapDrawer.toggle()" mat-icon-button color="{{mapDrawer.opened ? 'accent' : '' }}">
          <mat-icon>map</mat-icon>
        </button>
        <button (click)="detailDrawer.toggle()" mat-icon-button color="{{detailDrawer.opened ? 'accent' : '' }}">
          <mat-icon>info</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<ddaplib-main style="padding:0; top:64px">
  <mat-drawer-container style="height:100%; overflow: hidden;" [autosize]="true">
    <mat-drawer #mapDrawer mode="side" position="start" opened="false" style="min-width:400px; max-width:400px">
      <mat-toolbar class="tertiary-toolbar"
          style="height: 64px; position:absolute; top: 0;">
          <mat-toolbar-row>
              <div>Map</div>
              <span class="fill-space"></span>
              <button tabindex="-1" mat-icon-button (click)="mapDrawer.toggle()" matTooltip="Close Map">
                <mat-icon>close</mat-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>
      <div class="full-hw" style="display: flex; flex-direction: column; top:64px">
        <mat-progress-bar style="position:absolute; top:0; z-index: 100;" *ngIf="view.isGeocoding" mode="indeterminate" color="accent"></mat-progress-bar>
        <cover-message *ngIf="!view.isGeocoding && !(_options.center.latitude != 0 && _options.center.longitude != 0)" style="flex-grow: 1" message="No Location" icon="place"></cover-message>
        <x-map style="flex:1" #xmap [Options]="_options" *ngIf="!view.isGeocoding && _options.center.latitude != 0 && _options.center.longitude != 0">
          <x-map-marker 
          *ngIf="_options.center.latitude != 0 && _options.center.longitude != 0" 
          [(Latitude)]="_options.center.latitude" 
          [(Longitude)]="_options.center.longitude">
        </x-map-marker>
        </x-map>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <mat-drawer-container style="height:100%; overflow: hidden;" [autosize]="true">
        <mat-drawer #detailDrawer mode="side" position="end" opened="false" style="min-width:400px; max-width:400px">
          <mat-toolbar class="tertiary-toolbar"
              style="height: 64px; position:absolute; top: 0;">
              <mat-toolbar-row>
                  <div>Details</div>
                  <span class="fill-space"></span>
                  <button tabindex="-1" mat-icon-button (click)="detailDrawer.toggle()" matTooltip="Close Details">
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-toolbar-row>
          </mat-toolbar>
          <div style="position:absolute; width:100%; top:64px; bottom:0; overflow-y: auto;">
              <mat-progress-bar *ngIf="view.isSearching" mode="indeterminate" color="accent"></mat-progress-bar>
              <cover-message *ngIf="!selectedCase" style="flex-grow: 1" message="No Details" icon="subject"></cover-message>
              <div style="flex:1; height:100%;" *ngIf="selectedCase" class="p-a">
                <div class="sample-details-list">
                  <ddap-key-value-pair key="Source" *ngIf="selectedCase.source"  value="{{selectedCase.source}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Accession ID" *ngIf="selectedCase.Accession_ID"  value="{{selectedCase.Accession_ID}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Data Source" *ngIf="selectedCase.Data_Source"  value="{{selectedCase.Data_Source}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Nuc Completeness" *ngIf="selectedCase.Nuc_Completeness"  value="{{selectedCase.Nuc_Completeness}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Host" *ngIf="selectedCase.Host"  value="{{selectedCase.Host}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Sample Collection Date" *ngIf="selectedCase.Sample_Collection_Date"  value="{{selectedCase.Sample_Collection_Date}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Location" *ngIf="selectedCase.Location"  value="{{selectedCase.Location}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Longitude" *ngIf="_options.center.longitude != 0"  value="{{_options.center.longitude }}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Latitude" *ngIf="_options.center.latitude != 0"  value="{{_options.center.latitude }}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Originating Lab" *ngIf="selectedCase.Originating_Lab"  value="{{selectedCase.Originating_Lab}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Submission Date" *ngIf="selectedCase.Submission_Date"  value="{{selectedCase.Submission_Date}}"></ddap-key-value-pair>
                  <ddap-key-value-pair key="Submitting Lab" *ngIf="selectedCase.Submitting_Lab"  value="{{selectedCase.Submitting_Lab}}"></ddap-key-value-pair>
                </div>
              </div>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="full-hw p-a" style="display:flex; flex-direction: column;">
              <div style="display: flex; flex-direction: column; flex: 1">
                <div id="beacon-search-parameters"  class="m-b-sm" style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column;">
                      <div>Position</div>
                      <input matInput name="position" [(ngModel)]="query.start">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                      <div>Reference</div>
                      <input matInput name="reference" [(ngModel)]="query.referenceBases">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                      <div>Alternate</div>
                      <input matInput name="alternate" [(ngModel)]="query.alternateBases">
                    </div>
                    <button tabindex="-1" mat-icon-button (click)="doSearch()" matTooltip="Search Variant">
                      <mat-icon>search</mat-icon>
                    </button>
                    <span class="fill-space"></span>
                </div>
                <div style="display: flex" class="m-b text-muted" *ngIf="lastQuery">
                  {{cases.length}} sequences  with {{lastQuery.referenceBases}} » {{lastQuery.alternateBases}} at {{lastQuery.start}}
                </div>
                <cover-message *ngIf="cases.length == 0" style="flex: 1" message="No Sequences" icon="filter_list"></cover-message>
                <ag-grid-angular
                    *ngIf="cases.length > 0" 
                    style="width: 100%; flex: 1;"
                    #agGrid
                    class="ag-theme-balham"
                    [defaultColDef]="grid.defaultColumnDefinition"
                    [multiSortKey]="grid.multiSortKey"
                    [animateRows]="grid.animateRows"
                    [pagination]="grid.pagination"
                    [floatingFilter]="grid.floatingFilter"
                    [suppressCellSelection]="grid.suppressCellSelection"
                    [(rowData)]="cases"
                    [enableCellTextSelection]="true"
                    [(columnDefs)]="caseColumnDefs"
                    [domLayout]="grid.domLayout"
                    [navigateToNextCell]="navigateToCell"
                    [rowSelection]="grid.rowSelection"
                    (gridReady)="onGridReady($event)"
                    (rowDataChanged)="rowDataChanged($event)"
                    (selectionChanged)="onSelectionChanged($event)"
                    >
                </ag-grid-angular>
              </div>
            </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-drawer-content>
  </mat-drawer-container>
</ddaplib-main>
