@import '~ddap-common-lib/styles/modules/colors';

ddaplib-header ddaplib-header-add-btn {
  margin-left: 5px;
}

::ng-deep mat-card {
  margin: 1rem 0;
  mat-card-content {
    padding: 0 1rem;
  }
  mat-card-actions {
    margin-left: 0;
  }
}


.sample-details-list {
  display: flex;
  flex-direction: column;
  ddap-key-value-pair {
    margin-bottom: 10px;
  }
}

.full-hw {
  position: absolute;
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
}

.beacon-search-parameters {
  div {
    div {
      font-size: 10px;
      line-height: 0.8em;
      font-weight: 400;
      color: #4f4f4f;
      text-transform: uppercase;
    }
    input {
      width: 100px;
      font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
      border: 0px solid;
      &:focus {
        outline: none;
      }
    }
  }
}