@import '~ddap-common-lib/styles/modules/colors';

.component-frame-main {
  & > .tertiary-toolbar:first-child {
    justify-content: center;
  }
}

.component-frame-aside {
  display: flex;
  flex-direction: column;
}

.resource-list-container {
  h2 {
    display: none;
    cursor: default;
    padding: 1rem 16px;
    font-weight: 700;
    font-size: 1rem;
    color: $color-grey;
    margin: 0;
  }

  &.beacons {
    order: 1;
  }

  &.simple-searches {
    order: 2;
  }
}

.active-resource-header {
  .selected-resource-name {
    span {
      display: inline-block;
    }
  }

  .collection-name ~ .selected-resource-name {
    &:before {
      display: inline-block;
      content: '/';
      margin: 0 8px;
      color: $color-grey-light;
    }
  }

  .secondary-resource-menu-trigger {
    display: none;
  }
}

.component-frame.standalone-mode {
  .active-resource-header {
    .collection-name {
      display: none;
    }

    .collection-name ~ .selected-resource-name {
      &:before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .tertiary-toolbar {
    //height: auto;
  }

  .component-frame.standalone-mode {
    .active-resource-header {
      .collection-name {
        display: block;
      }

      .secondary-resource-menu-trigger {
        display: block;
        margin-left: 1rem;
        border-left: 1px solid $color-grey-light;
      }
    }
  }
}
