@import '~ddap-common-lib/styles/modules/colors';

.component-frame-aside {
  display: flex;
  flex-direction: column;

  .tertiary-toolbar {
    mat-toolbar-row.back-navigator {
      outline: none;
      cursor: pointer;

      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

.resource-list-container {
  h2 {
    display: none;
    cursor: default;
    padding: 1rem 16px;
    font-weight: 700;
    font-size: 1rem;
    color: $color-grey;
    margin: 0;
  }

  &.beacons {
    order: 1;
  }

  &.simple-searches {
    order: 2;
  }
}

ddap-dot-loading-indicator.resource-list-container {
  margin: 2rem 32px;
  zoom: 0.5;
  opacity: 0.5;
}

.resource-list {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    a {
      display: flex;
      padding: 1rem 16px;
      color: $color-grey;
      font-weight: 700;
      align-items: center;

      .resource-name {
        margin-left: 8px;
      }

      &.active {
        color: #000;
      }
    }
  }
}

active-resource-header {
  font-weight: 400;

  & > :first-child {
    font-weight: 700;
  }
}

.selected-resource-name {
  span {
    display: inline-block;
  }

  ddap-dot-loading-indicator {
    display: inline-block;
    zoom: 0.5;
  }
}

.collection-name + .selected-resource-name {
  &:before {
    display: inline-block;
    content: '/';
    margin: 0 8px;
    color: $color-grey-light;
  }
}
