<ddaplib-header icon="search" label="Search Resources"></ddaplib-header>
<ddaplib-main>
  <mat-card class="ddap-card"
            *ngFor="let resource of resources">
    <mat-card-header>
      <mat-card-title>{{ resource.ui.label || 'Unknown' }}</mat-card-title>
      <mat-card-subtitle>{{ resource.ui.description || 'Unknown' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         [src]="[resource.ui.imageUrl || randomImageRetriever.getPathToFixedRandomImage(resource.ui.label)]"
         alt="Photo">
    <mat-card-actions>
      <a [href]="getUrlForAccessToken(resource)">
        <button mat-button
              color="primary"
              class="uppercase"
              data-se="explore-resource">Explore</button>
      </a>
    </mat-card-actions>
  </mat-card>
</ddaplib-main>
