<ddaplib-header icon="search" label="Search Resources"></ddaplib-header>
<ddaplib-main [disableMobile]="true">
  <!--
    FIXME If we need to make one more copy of this, we should consider componentizing this component.
          - data/collection/collection-list
          - search/search-resources
  -->
  <mat-card class="ddap-card"
            *ngFor="let resource of resources"
            (click)="this.router.navigateByUrl(resource.accessUrl)"
            [attr.data-se]="resource.resourceName + '-resource'"
            [attr.data-href]="resource.accessUrl">
    <mat-card-header>
      <mat-card-title>{{ resource.ui.label || 'Unknown' }}</mat-card-title>
      <mat-card-subtitle>{{ resource.ui.description || 'Unknown' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         [src]="[resource.ui.imageUrl || randomImageRetriever.getPathToFixedRandomImage(resource.ui.label)]"
         alt="Photo">
    <mat-card-actions>
      <button mat-button
              color="primary"
              class="uppercase">
        Explore
      </button>
    </mat-card-actions>
  </mat-card>
</ddaplib-main>
