<ddaplib-header icon="sync"
                label="Operations">
</ddaplib-header>

<ddaplib-main>
  <ng-container *ngFor="let resourceViews of wesResourceViews">
    <mat-card *ngFor="let view of resourceViews.views">
      <mat-card-header>
        <mat-card-title>{{ view.label }}</mat-card-title>
        <mat-card-subtitle>{{ resourceViews.resource }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ view.url }}
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-button
           *ngIf="!accessControlService.isUserAuthorized()"
           color="primary"
           class="uppercase"
           [href]="getResourceAuthUrl(resourceViews.damId, view)"
           data-se="btn-authorize">
            Authorize To View Runs
        </a>
        <a mat-button
           *ngIf="accessControlService.isUserAuthorized()"
           color="primary"
           class="uppercase"
           [routerLink]="getRedirectUrl(resourceViews.damId, view.name)"
           data-se="btn-authorize">
          View Runs
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ddaplib-main>
