<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="4rem">
      <mat-progress-bar mode="indeterminate"
                        *ngIf="accessSubscription && !accessSubscription.closed">
      </mat-progress-bar>
      <mat-panel-title>
        <h3>{{ view.dto.ui.label || view.name }}</h3>
      </mat-panel-title>
      <mat-panel-description class="flex vertical-center">
        {{ defaultRole }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="flex">
      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               placeholder="Duration of an access token"
               [formControl]="ttlForm">
        <mat-hint align="start"><strong>Maximum duration is 90 days</strong> </mat-hint>
        <mat-error *ngIf="ttlForm.hasError('required')">
          Duration is required
        </mat-error>
        <mat-error *ngIf="ttlForm.hasError('min')">
          Duration must be a positive integer
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time unit</mat-label>
        <mat-select [(value)]="selectedTimeUnit">
          <mat-option value="s">second</mat-option>
          <mat-option value="m">minute</mat-option>
          <mat-option value="h">hour</mat-option>
          <mat-option value="d">day</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="lookupResourceToken() as resourceToken"
         class="expansion-footer-content">
      <ddap-view-access [access]="resourceToken"
                        [url]="url">
      </ddap-view-access>
    </div>

    <mat-action-row>
      <a *ngIf="url"
         href="{{ url }}"
         data-se="access-btn"
         target='_blank'
         rel='noopener noreferrer'>
        <button mat-button
                color="primary"
                class="uppercase">
          View
        </button>
      </a>
      <a *ngIf="!resourceTokens"
         [href]="getUrlForObtainingAccessToken()"
         class="stretch">
        <button mat-flat-button
                color="primary"
                class="uppercase"
                data-se="get-access-btn">
          Access
        </button>
      </a>
      <a href="{{ downloadCliUrl }}"
         data-se="download-cli-button"
         target='_blank'
         rel='noopener noreferrer'>
        <button mat-button
                color="primary"
                class="uppercase">
          Download Command Line Client
        </button>
      </a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>



<!--<ng-template #error>-->
<!--  <div class="error-container flex flex&#45;&#45;column"-->
<!--       *ngIf="accessSubscription && accessSubscription.closed">-->
<!--    <div class="flex flex&#45;&#45;row vertical-center">-->
<!--      <mat-icon color="warn">warning</mat-icon>-->
<!--      <p>Permission denied: you do not have sufficient claims to access this resource</p>-->
<!--    </div>-->
<!--    <div class="error-message">-->
<!--      <button mat-button-->
<!--              class="uppercase"-->
<!--              disabled>-->
<!--        Send Feedback-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
