@import '../../../../../node_modules/ddap-common-lib/styles/modules/colors';

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}

mat-form-field:first-child {
  margin-right: 0.5rem;
}





