<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="4rem">
      <mat-panel-title>
        <h3>{{ resource.name }}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container [formGroup]="form">
      <div class="flex">
        <mat-form-field>
          <input formControlName="ttl"
                 matInput
                 type="number"
                 min="1"
                 placeholder="Duration of an access token">
          <mat-hint align="start"><strong>Maximum duration is 90 days</strong> </mat-hint>
          <mat-error *ngIf="form.get('ttl').hasError('required')">
            Duration is required
          </mat-error>
          <mat-error *ngIf="form.get('ttl').hasError('min')">
            Duration must be a positive integer
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Time unit</mat-label>
          <mat-select formControlName="timeUnit">
            <mat-option value="s">second</mat-option>
            <mat-option value="m">minute</mat-option>
            <mat-option value="h">hour</mat-option>
            <mat-option value="d">day</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="resource.interfaces"
           class="flex">
        <mat-form-field>
          <mat-label>Interface</mat-label>
          <mat-select formControlName="interfaceType">
            <mat-option *ngFor="let resourceInterface of resource.interfaces"
                        [value]="resourceInterface.type">
              {{ resourceInterface.type }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="selectedResourceInterface">
            {{ selectedResourceInterface.uri }}
          </mat-hint>
        </mat-form-field>
      </div>
    </ng-container>

    <div *ngIf="resourceAccesses$ | async as resourceAccesses"
         class="expansion-footer-content">
      <ddap-view-access *ngFor="let resourceAccess of resourceAccesses | keyvalue"
                        [access]="resourceAccess.value">
      </ddap-view-access>
    </div>

    <mat-action-row>
      <ng-container *ngIf="selectedResourceInterface">
        <a [href]="getUrlForResourceAuthorization()"
           class="stretch"
           data-se="get-access-btn">
          <button mat-flat-button
                  color="primary"
                  class="uppercase">
            Access
          </button>
        </a>
      </ng-container>
      <a [href]="downloadCliUrl"
         data-se="download-cli-button"
         target='_blank'
         rel='noopener noreferrer'>
        <button mat-button
                color="primary"
                class="uppercase">
          Download Command Line Client
        </button>
      </a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
