@import '~ddap-common-lib/styles/modules/colors';

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

button {
  background: transparent;
}

.expiration-info {
  color: $color-grey;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.token-expired {
  color: $warn-color;
  font-weight: bold;
}

.text-strikethrough {
  text-decoration: line-through;
}
