
<div class="full-hw" style="display:flex; flex-direction:column;">
    <ddaplib-header icon="navigation" label="Genomes">
        <span class="fill-space"></span>
        <button tabindex="-1" mat-icon-button 
            (click)="view.showLeftSidebar = !view.showLeftSidebar;" 
            color="{{view.showLeftSidebar ? 'accent' : '' }}"
            matTooltip="{{view.showLeftSidebar ? 'Close Filters' : 'Open Filters' }}">
            <mat-icon>filter_list</mat-icon>
        </button>
    </ddaplib-header>
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <div style="display:flex; flex-direction:column; flex: 1">
        <ddap-search-table style="display:flex; flex-direction:column; flex:1" 
        [service]="service" 
        [table]="table" 
        [fieldMap]="fieldMap" 
        [showLeftSidebar]="view.showLeftSidebar"></ddap-search-table>
    </div>
</div>
