<ddaplib-searchable-header iconName="collections_bookmark"
                           label="Collections"
                           [searchable]="true">
  <ddap-beacon-search-bar></ddap-beacon-search-bar>
</ddaplib-searchable-header>

<ddaplib-main>
  <mat-card class="ddap-card"
            *ngFor="let qualifiedResource of qualifiedResources$ | async">
    <mat-card-header>
      <mat-card-title>
        {{ ellipseIfLongerThan(qualifiedResource.entity.dto.ui.label || 'Unknown' , 60) }}
      </mat-card-title>
    </mat-card-header>

    <img mat-card-image
        [src]="[qualifiedResource.entity.dto.ui.imageUrl || randomImageRetriever.getPathToFixedRandomImage(qualifiedResource.entity.dto.ui.label)]"
        alt="Photo">

    <mat-card-content>
      <p>{{ ellipseIfLongerThan(qualifiedResource.entity.dto.ui.description || 'Unknown', 100) }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button
              color="primary"
              class="uppercase"
              [routerLink]="[qualifiedResource.damId, qualifiedResource.entity.name]"
              data-se="view-set-btn">View Set</button>
      <span flex></span>
      <mat-icon class="icon icon-add"></mat-icon>
    </mat-card-actions>
  </mat-card>
</ddaplib-main>
