<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="4rem">
      <mat-panel-title>
        <h3>{{ resource.name }}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="isPublicAccess">
      <div class="expansion-footer-content">
        <div *ngFor="let resourceInterface of resource.interfaces"
             class="flex">
          <span class="resource-interface-type">{{ resourceInterface.type }}:</span>
          <span class="resource-interface-uri">{{ resourceInterface.uri }}</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isPublicAccess"
                  [formGroup]="form">
      <div class="flex"
           formGroupName="ttl">
        <mat-form-field>
          <input formControlName="numericValue"
                 matInput
                 type="number"
                 min="1"
                 placeholder="Duration of an access token">
          <mat-hint align="start"><strong>Maximum duration is 90 days</strong></mat-hint>
          <mat-error *ngIf="form.get('ttl.numericValue').hasError('required')">
            Duration is required
          </mat-error>
          <mat-error *ngIf="form.get('ttl.numericValue').hasError('min')">
            Duration must be a positive integer
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Time unit</mat-label>
          <mat-select formControlName="timeUnit">
            <mat-option value="m">minute</mat-option>
            <mat-option value="h">hour</mat-option>
            <mat-option value="d">day</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="resource.interfaces"
           class="flex">
        <mat-form-field>
          <mat-label>Interface</mat-label>
          <mat-select formControlName="interfaceType"
                      data-se="inp-interfaceType">
            <mat-option *ngFor="let resourceInterface of resource.interfaces"
                        [value]="resourceInterface.type">
              {{ resourceInterface.type }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="selectedResourceInterface">
            {{ selectedResourceInterface.uri }}
          </mat-hint>
        </mat-form-field>
      </div>
    </ng-container>

    <div *ngIf="resourceAccess"
         class="expansion-footer-content">
      <ddap-resource-access-credentials [access]="resourceAccess">
      </ddap-resource-access-credentials>
    </div>

    <mat-action-row>
      <ng-container *ngIf="!isPublicAccess">
        <a *ngIf="selectedResourceInterface && authUrl"
           [href]="authUrl"
           class="stretch"
           data-se="get-access-btn">
          <button mat-flat-button
                  color="primary"
                  class="uppercase">
            Access
          </button>
        </a>
      </ng-container>
      <a [href]="downloadCliUrl"
         data-se="download-cli-button"
         target='_blank'
         rel='noopener noreferrer'>
        <button mat-button
                color="primary"
                class="uppercase">
          Download CLI Client
        </button>
      </a>
      <button *ngIf="!isPublicAccess"
              (click)="resetFormStateToDefaults()"
              mat-icon-button
              color="primary"
              class="uppercase reset-btn"
              matTooltip="Reset form to defaults">
        <mat-icon>replay</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
