<ddaplib-header [backLink]="'..'"
                [label]="(collection$ | async)?.name">
</ddaplib-header>

<ddaplib-main *ngIf="collection$ | async as collection">
  <ddap-collection-logo [imageUrl]="(collection$ | async)?.imageUrl">
  </ddap-collection-logo>

  <ng-container *ngIf="collectionResources$ | async as collectionResourcesResponse">
    <div class="ddap-column-panel">
      <div class="ddap-column">
        <p>{{ collection.description }}</p>
        <ddap-metadata-list [metadata]="collection.metadata"></ddap-metadata-list>
      </div>
      <div class="ddap-column">
        <h3 class="flex vertical-center">
          <mat-icon class="icon icon-views"></mat-icon>
          <span>Resources</span>
        </h3>
        <mat-list class="ddap-resource-views">
          <mat-list-item *ngFor="let resource of collectionResourcesResponse.data">
            <ddap-resource-access-form [resource]="resource"
                                       [isPublicAccess]="isPublicResource(resource)">
            </ddap-resource-access-form>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </ng-container>
</ddaplib-main>
