<ddaplib-searchable-header (searchOpenChange)="searchOpened = $event"
                           [searchable]="true"
                           [backLink]="'..'"
                           [label]="(collection$ | async)?.name"
                           class="no-border">
  <ddap-beacon-search-bar [limitSearch]="limitSearch">
  </ddap-beacon-search-bar>
</ddaplib-searchable-header>

<ddaplib-main *ngIf="collection$ | async as collection">
  <ddap-collection-logo [imageUrl]="(collection$ | async)?.imageUrl">
    <ddap-beacon-limit-search *ngIf="searchOpened"
                              (change)="limitSearch = !limitSearch"
                              [collectionName]="(collection$ | async)?.name"
                              [checked]="limitSearch"
                              class="filter-top-border filter-inline">
    </ddap-beacon-limit-search>
  </ddap-collection-logo>

  <ng-container *ngIf="collectionResources$ | async as collectionResourcesResponse">
    <div class="ddap-column-panel">
      <div class="ddap-column">
        <p>{{ collection.description }}</p>
        <ddap-metadata-list [metadata]="collection.metadata"></ddap-metadata-list>
      </div>
      <div class="ddap-column">
        <h3 class="flex vertical-center">
          <mat-icon class="icon icon-views"></mat-icon>
          <span>Views</span>
        </h3>
        <mat-list class="ddap-resource-views">
          <mat-list-item *ngFor="let resource of collectionResourcesResponse.data">
            <ddap-resource-access-form [resource]="resource">
            </ddap-resource-access-form>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </ng-container>
</ddaplib-main>
