<form novalidate
      class="flex vertical-center"
      (ngSubmit)="onSubmit(searchForm)"
      [formGroup]="searchForm">
  <mat-form-field class="input-select" appearance="outline">
    <mat-select class="mat-button-wrapper"
                name="assembly"
                formControlName="assembly">
      <mat-option *ngFor="let assemblyId of assemblyIds"
                  [value]="assemblyId">
        {{ assemblyId }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="stretch">
    <input name="query"
           matInput
           type="search"
           formControlName="query"
           [placeholder]="searchForm.get('query').value ? '' : placeholder"
           data-se="search-input">
  </mat-form-field>
  <span class="fill-space"></span>
  <button mat-button
          mat-stroked-button
          color="accent"
          class="uppercase"
          type="submit">
    Search
  </button>
</form>
