@import '~ddap-common-lib/styles/modules/colors';

.details-panel {
  padding: 1rem;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  .margin--bottom-05 {
    margin-bottom: 0.5rem;
  }

  img ~ a {
    margin-left: 0.5rem;
  }
}

